.milestoneRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.milestone-no {
  margin-right: 36px;
}

.budgetDescription {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.budgetInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
