@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: var(--theme-font-family);
}

h1,
h2,
h3 {
  font-weight: 700;
}
h3 {
  font-size: 20px;
}

.primary-btn:disabled {
  background-color: #676767;
  color: #b5b5b5;
  cursor: unset;
}

.primary-btn.fullwidth {
  border-radius: 3px;
  font-weight: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('AeonikTRIAL-Regular.otf') format('opentype');
}

.mdc-dialog .mdc-dialog__title,
.mdc-dialog__content {
  color: var(--mdc-text-field-ink-color) !important;
}

.mdc-dialog--open .mdc-dialog__container {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.mdc-dialog .mdc-dialog__surface {
  max-height: calc(100% - 32px);
}

@media (min-width: 592px) {
  .mdc-dialog .mdc-dialog__surface {
    max-width: 560px;
  }
}

.mdc-dialog .mdc-dialog__surface {
  min-width: 280px;
}

.mdc-dialog .mdc-dialog__surface {
  border-radius: 4px;
  border-radius: var(--mdc-shape-medium, 4px);
}

div#content-root {
  width: 100%;
}

form {
  display: block;
  margin-top: 0em;
  margin-block-end: 1em;
}

.unset {
  box-sizing: unset;
}

svg {
  display: inline;
}
