/* navbar */
.menuItems
  .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters:hover {
  background: var(--theme-purple-light);
}

.navBar
  .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background: var(--theme-background);
  left: auto !important;
  right: 20px;
  border-radius: 15px;
}

/* brief-details */
.chat-popup.MuiBox-root {
  position: fixed;
  right: 150px;
  bottom: 0;
  width: 400px;
  height: 480px;
  background-color: var(--theme-grey-dark);
}

/* common.css */
.MuiBottomNavigation-root {
  background: var(--theme-background);
  border-radius: 10px;
  border: 1px solid var(--theme-purple-light);
  margin-bottom: 32px;
  overflow: hidden;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
  background-color: var(--theme-primary);
}

.MuiButtonBase-root.MuiBottomNavigationAction-root {
  max-width: 33.34%;
  color: var(--theme-purple-dark);
}

.MuiBottomNavigationAction-label,
.MuiBottomNavigationAction-label.Mui-selected {
  font-size: 18px;
}

/* -------------- */

.MuiFormControl-root {
  margin-bottom: 24px;
  margin-left: 0;
}

.approvers .MuiFormControl-root {
  margin-bottom: 0;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAutocomplete-paper {
  background-color: var(--theme-background);
}

/* #demo-simple-select-helper-label,
#demo-simple-select-helper,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined {
  color: #fff;
} */

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl:hover
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid white;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background-color: var(--theme-grey-dark);
  color: white;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--theme-purple);
}

.applicationList .MuiFormControl-root {
  width: 140px;
  cursor: pointer;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background: var(--theme-background);
  color: var(--theme-purple);
}

.MuiFormLabel-root,
.MuiInputBase-input,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconStandard,
.MuiSelect-select.MuiSelect-standard.MuiInputBase-input.MuiInput-input {
  color: var(--theme-purple);
}

.profile-container
  .MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-outlined.MuiInputAdornment-sizeMedium {
  color: var(--theme-purple);
  cursor: pointer;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected {
  background: var(--theme-purple-light);
}

.MuiDialog-paper {
  background-color: var(--theme-background);
  color: white;
  margin: 7px auto;
}

.errorDialogue .MuiDialog-paper {
  margin: 7px auto;
}

.loginModal .MuiDialog-paper {
  /* margin: auto 6rem; */
  border-radius: 20px;
  max-height: fit-content;
  max-width: fit-content;
  padding: 2rem 4rem;
}

.freelancer .MuiSkeleton-root {
  background-color: #ffffff1c;
}

.client-badge .MuiBadge-badge {
  cursor: pointer;
}

.errorDialogue .MuiDialog-paper {
  min-height: 300px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--theme-background);
}

/* grants popup */

.errorDialogue
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
  max-width: 60%;
}

.amountInput .MuiInputBase-input {
  text-align: right;
  height: 0.625rem;
}

.amountInput > div {
  border-radius: 5px;
}

/* transfer funds */
.transferFund .MuiTypography-root.MuiTypography-body1{
  margin-top: 2.5px;
}

.Mui-focused .MuiTypography-root.MuiTypography-body1{
  color: var(--theme-content-primary)
}

.transferFund .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-colorSecondary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.Mui-focused{
  color: var(--theme-content-primary);
}

.transferFund .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-colorSecondary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled{
  color: black;
}

.transferFund .MuiInputBase-input{
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}

.transferFund .Mui-focused .MuiInputBase-input{
  color: var(--theme-content-primary);
}


@media screen and (max-width: 470px) {
  .MuiBottomNavigation-root {
    height: 46px;
    margin-bottom: 18px;
  }

  .MuiBottomNavigationAction-label,
  .MuiBottomNavigationAction-label.Mui-selected {
    font-size: 12px;
  }

  .chat-popup.MuiBox-root {
    position: fixed;
    right: 10px;
    margin: 0 auto;
    width: 300px;
  }

  .navBar
    .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
    right: 10px;
  }

  .errorDialogue
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
    max-width: 100%;
  }
}
