:root {
  --theme-h1-size: 54px;
}

.proposal-editor-continer {
  display: flex;
  flex-direction: row;
  font-family: var(--theme-font-family);
}

.header-h1-text {
  width: 40%;
  max-width: 400px;
  padding: 0 40px 0 0;
}

.imbu-proposals-draft-submission-form {
  flex-grow: 1;
  /* width: 86%; */
}

.imbu-proposals-draft-submission-form #grant-submission-form {
  flex-direction: row;
}

.header-h1-text-container {
  width: 40%;
  max-width: 400px;
  padding: 0 40px 0 0;
}
.header-h1-text-container .header-text {
  margin: 0;
  font-size: var(--theme-h1-size);
  font-weight: var(--theme-h1-weight);
}

.label {
  font-size: 24px;
  line-height: 1.3em;
  margin-bottom: 27px;
  font-weight: 400;
}

.text-input-label {
  color: var(--mdc-text-field-label-ink-color) !important;
  font-family: var(--mdc-typography-subtitle1-font-size, 1rem);
}
.text-input-label-focused {
  color: var(--theme-primary) !important;
  font-family: var(--mdc-typography-subtitle1-font-size, 1rem);
}
.text-input-label-error {
  color: var(--theme-error) !important;
  font-family: var(--mdc-typography-subtitle1-font-size, 1rem);
}

.text-input-field input {
  color: var(--mdc-text-field-ink-color);
}

.text-input-container {
  width: 100%;
  background-color: var(--mdc-select-fill-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.text-input-field-error {
  color: var(--theme-error);
  font-family: var(
    --mdc-typography-caption-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-weight: var(--mdc-typography-caption-font-weight, 400);
  font-size: var(--mdc-typography-caption-font-size, 0.75rem);
  padding-right: 16px;
  padding-left: 16px;
  letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
  will-change: opacity;
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-font-smoothing: antialiased;
  display: block;
}

.text-input-field-help {
  font-size: var(--mdc-typography-subtitle1-font-size, 0.7rem);
}

.text-input-field {
  color: var(--mdc-text-field-ink-color);
  font-family: var(
    --mdc-typography-caption-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: var(--mdc-typography-caption-font-weight, 400);
  padding-right: 16px;
  letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
  will-change: opacity;
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-font-smoothing: antialiased;
  display: block;
}

.text-area-input-field {
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: none;
  appearance: none;
  color: var(--mdc-text-field-ink-color, rgba(0, 0, 0, 0.87));
}

div.MuiFilledInput-input p:first-of-type {
  display: none;
}
div.MuiFilledInput-input {
  min-width: 0;
}

div.MuiFilledInput-input p {
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  text-align: left;
  -webkit-line-clamp: 1;
}

fieldset:first-of-type {
  margin-top: 0;
}
fieldset {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  border: none;
}

ul.MuiList-root {
  max-width: 100%;
  overflow: hidden;
}
ul.MuiList-root li {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: "100%";
}

ul.MuiList-root li p:first-of-type {
  margin-bottom: -20px;
  position: relative;
  bottom: 7px;
}

.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 5px;
}

div.MuiPaper-root {
  display: none;
}

span.suffix {
  position: absolute;
  right: 10px;
  bottom: 16px;
}

.disabled-text {
  color: var(--mdc-text-field-disabled-ink-color);
}

p.button-label {
  font-weight: 300;
  font-family: var(--theme-font-family);
  align-self: center;
  transition: color 300ms, background-color 300ms;
  font-size: var(--button-font-size);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
}

@media screen and (max-width: 868px) {
  .proposal-editor-continer {
    display: block;
  }
  .header-h1-text-container {
    width: auto;
    max-width: unset;
  }
  .header-h1-text-container h1 {
    margin: 20px 0;
  }
}
