.str-chat,
.str-chat__list,
.str-chat__message-input,
.str-chat__message-input-inner,
.mdc-dialog__surface,
.str-chat__empty-channel,
.str-chat__channel-header {
  background: var(--theme-background) !important;
}

.custom-chat-container {
  background: var(--theme-background);
  height: 75vh;
}

.str-chat__edit-message-form-options {
  gap: 12px;
}

.str-chat__list {
  padding-top: 30px;
}

/* .str-chat__message-reaction-selector {
  inset-block-end: -180% !important ;
  z-index: 1;
} */
/* .image-gallery-slide{
  position: relative !important;
} */

.image-gallery-swipe,
.image-gallery-slides {
  height: 100vh;
  width: 100vw;
}

.image-gallery-slide {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80%;
}

.image-gallery-index {
  left: 0 !important;
  right: auto !important;
}

.str-chat__modal--open button.str-chat__modal__close-button {
  z-index: 100;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100% !important;
  height: 100% !important;
}

.str-chat__message--with-reactions .str-chat__message-reaction-selector {
  inset-block-end: -100% !important ;
  z-index: 100;
}

.pin-text {
  font-style: italic;
  color: grey;
}

/* left side */
.chat-list-container {
  width: 30%;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0 !important;
}

/* chat reaction host */
.str-chat__message-reactions-host {
  grid-row-start: 2 !important;
  grid-row-end: 2 !important;
}
.str-chat__message-options {
  grid-row-start: 1 !important;
  grid-row-end: 1 !important;
}

/* search box */
.str-chat__channel-search,
.str-chat__channel-preview {
  padding: 25px 20px !important;
}

/* .str-chat__message-actions-list {
  z-index: 100 !important;
} */

.str-chat__channel-search .str-chat__channel-search-bar {
  padding: 0;
}

.str-chat__channel-search-bar .str-chat__channel-search-input--wrapper {
  border: 1px solid var(--theme-purple);
  border-radius: 10px;
}

.str-chat__channel-search-bar
  .str-chat__channel-search-input--wrapper.str-chat__channel-search-input--wrapper-active {
  border: 1px solid #337eff;
}

.str-chat__channel-search-input::placeholder {
  color: var(--theme-purple-light);
}

.str-chat__channel-preview-messenger.str-chat__channel-preview.str-chat__channel-preview-messenger--active {
  /* background-color: rgba(120, 120, 120, 0.3); */
  border-left: 5px solid #baff36;
}

/* right side */
.str-chat.str-chat__theme-light.str-chat-channel.str-chat__channel {
  width: 100%;
}

.str-chat__channel-preview-messenger--left {
  padding-right: 12px;
}

.str-chat__channel-preview-messenger--last-message {
  padding-top: 2px;
}

.str-chat__message-input {
  border-top: 1px solid var(--theme-light-white);
}

.str-chat__channel-list
  .str-chat__channel-list-messenger
  .str-chat__channel-list-messenger__main {
  height: 65vh;
}

.str-chat ::-webkit-scrollbar,
.custom-scroll ::-webkit-scrollbar {
  width: 3px;
}

.str-chat ::-webkit-scrollbar-track,
.custom-scroll ::-webkit-scrollbar-track {
  background: var(--theme-light-grey);
  border-radius: 10px;
}

.chatList {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.custom-scroll ::-webkit-scrollbar-thumb,
.str-chat ::-webkit-scrollbar-thumb,
.chat__list ::-webkit-scrollbar-thumb {
  background: var(--theme-purple-light);
  border-radius: 10px;
}

.custom-scroll ::-webkit-scrollbar-thumb:hover,
.str-chat ::-webkit-scrollbar-thumb:hover {
  background: var(--theme-purple-light);
}
.str-chat__list-notifications {
  margin: 0;
}

.str-chat__message .str-chat__message-bubble,
.str-chat__message-input
  .str-chat__quoted-message-preview
  .str-chat__quoted-message-bubble {
  background: var(--theme-purple-light) !important;
}

.str-chat__message-bubble {
  grid-row-start: 1 !important;
  grid-row-end: 1 !important;
}

.str-chat__channel-search-input--wrapper
  .str-chat__channel-search-input--clear-button
  svg
  path {
  fill: rgba(0, 0, 0, 0) !important;
}

.str-chat__channel-search-input--wrapper-active
  .str-chat__channel-search-input--clear-button
  svg
  path {
  fill: var(--theme-purple) !important;
}
.str-chat svg path {
  fill: var(--theme-purple) !important;
}

.str-chat__message-input
  .str-chat__message-textarea-container
  .str-chat__message-textarea {
  color: var(--theme-content) !important;
}
.str-chat__message
  .str-chat__message-inner
  .str-chat__message-bubble
  .str-chat__message-text
  p,
.str-chat__quoted-message-preview
  .str-chat__message-inner
  .str-chat__message-bubble
  .str-chat__message-text
  p {
  color: var(--theme-content) !important;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .chat-list-container {
    width: 100%;
  }

  .str-chat__channel-search-input,
  .str-chat__channel-search-results-header,
  .str-chat__channel-search-result--display-name,
  .str-chat__channel-preview
    .str-chat__channel-preview-end
    .str-chat__channel-preview-end-first-row {
    font-size: 14px !important;
  }

  .str-chat__channel-search {
    padding: 8px 0px !important;
  }

  .str-chat__channel-search-input--icon {
    padding: 0 6px 0 0 !important;
  }

  .str-chat__channel-search-bar {
    padding: 8px 10px !important;
  }

  .str-chat__channel-preview {
    padding: 10px 28px !important;
  }

  .str-chat__avatar,
  .str-chat__avatar .str-chat__avatar-image {
    height: 30px !important;
    width: 30px !important;
  }

  .str-chat__avatar .str-chat__avatar-fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .str-chat__channel-preview-messenger--left {
    padding-right: 3px;
  }

  .str-chat__channel-preview-messenger--last-message {
    font-size: 12px;
  }

  .str-chat__channel-search-bar-button,
  .str-chat__channel-search-input--wrapper
    .str-chat__channel-search-input--clear-button {
    height: fit-content !important;
    width: fit-content !important;
    padding: 0 !important;
  }

  .str-chat__channel-search .str-chat__channel-search-results-header {
    padding: 8px !important;
  }

  .str-chat__message-inner {
    margin-right: 0 !important;
  }

  .str-chat__channel-list .str-chat__channel-list-messenger {
    height: 66vh !important;
  }
}

.str-chat__message-simple__actions {
  width: 100%;
}
.str-chat__message-actions-box {
  inset-block-end: -550% !important;
  inset-inline-start: -550% !important;
}

.str-chat__li--bottom .str-chat__message-actions-box {
  inset-block-end: 70% !important;
  inset-inline-start: -550% !important;
}
.str-chat__li--middle:nth-last-child(2) .str-chat__message-actions-box {
  inset-block-end: 70% !important;
  inset-inline-start: -550% !important;
}

.str-chat__li--middle:nth-last-child(3) .str-chat__message-actions-box {
  inset-block-end: 70% !important;
  inset-inline-start: -550% !important;
}
